# Final Assignment Instructions: Create and Share Your Jupyter Notebook

### Exercise 1: Create a Jupyter Notebook
**Instructions**<br>
* Create a new Jupyter notebook called ***DataScienceEcosystem.ipynb***

### Exercise 2: Create markdown cell with title of the notebook
**Instructions**<br>
* Create a markdown cell with the title ***Data Science Tools and Ecosystem*** using H1 style heading.
* Take a screenshot of the markdown cell and name it as ***2-title.png***

### Exercise 10 - Insert a markdown cell to list Objectives
**Instructions**<br>
* Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course).
* In this new cell start with an introductory line titled: <br>
* **Objectives:** in bold font.
* Then using an **unordered list (bullets) indicate 3 to 5 items covered in this notebook**, such as List popular languages for Data Science.

Take a screenshot of the markdown cell and name it as ***10-objectives.png***

# Data Science Tools and Ecosystem

**Objectives that this notebook covered**<br>
* This notebook covered how to create markdown cells and forumulary cells.
* It covered how to create headings, numbered lists and unordered lists.
* It also covered programming languages and common libraries.
* Additionally, we had to create a table.
* We also had to print out each of the exercises in a png file format.
* We also had to use variables to find the sum and product of numbers and perform calculations by converting hours by minutes.

### Exercise 3 - Create a markdown cell for an introduction
**Instructions:**
* Write an introductory sentence about the notebook such as the follows:
* In this notebook, Data Science Tools and Ecosystem are summarized.
* Take a screenshot of the markdown cell and name it as ***3-intro.png***

### Exercise 4 - Create a markdown cell to list data science languages
##### In this notebook, Data Science Tools and Ecosystem are summarized.
**Instructions**<br>
* Start the cell with an overview line such as:
* Some of the popular languages that Data Scientists use are:
* Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.
* Take a screenshot of the markdown cell and name it as ***4-dslanguages.png***

**Some of the popular languages that Data Scientists use are:**<br>
Python, R, SQL, Julia, Java and C/C++,

### Exercise 5 - Create a markdown cell to list data science libraries

**Instructions**
Add an overview line to the cell like:
* Some of the commonly used libraries used by Data Scientists include:
* Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
* Take a screenshot of the markdown cell and name it as ***5-dslibraries.png***

Some of the commonly used libraries used by Data Scientists include:
#### Python Libraries
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. TensorFlow
7. Keras
8. PyTorch
This is not an all inclusive list.

#### R Libraries
1. ggplot2
2. dplyr
3. caret
This is not an all inclusive list.

### Exercise 6 - Create a markdown cell with a table of Data Science tools
**Instructions**<br>
* Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.
* Take a screenshot of the markdown cell and name it as ***6-dstools.png***

### Data Science Tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook / JupyterLab |
| RStudio            |
| Spyder             |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples
**Instructions**<br>
* Add a line in this cell with H3 style heading with text like:
* Below are a few examples of evaluating arithmetic expressions in Python.
* Take a screenshot of the markdown cell and name it as ***7-introarithmetic.png***

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
x = 4
y = 5
z = x + y
z

9

In [2]:
a = 30
b = 40
c = a * b
c

1200

In [3]:
one = 10
two = 25
three = one + two
three

35

### Exercise 8 - Create a code cell to multiply and add numbers
**Instructions**<br>
* In this code cell evaluate the expression (3*4)+5.
* Insert a comment line before the expression to explain the operation e.g.: **This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.**
* Take a screenshot of the code cell with output and name it as ***8-multiplyandaddintegers.png***

In [4]:
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours
**Instructions**<br>
* In this code cell write an expression that converts 200 minutes into hours.
* Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
* Run the cell to evaluate the expression.
* Take a screenshot of the code cell with output and name it as ***9-hourstominutes.png***

In [6]:
200/60

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives
**Instructions**<br>
* Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course).
* In this new cell start with an introductory line titled: <br>
* **Objectives:** in bold font.
* Then using an **unordered list (bullets) indicate 3 to 5 items covered in this notebook**, such as List popular languages for Data Science.

Take a screenshot of the markdown cell and name it as ***10-objectives.png***

## Exercise 11 - Create a markdown cell to indicate the Author's name
**Instructions**<br>
* In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.
* Take a screenshot of the markdown cell and name it as ***11-authordetails.png***
* Note: Save and download the notebook.

## Author:  Sarah Daniel

### Exercise 12 - Share your notebook through GitHub

* Upload your notebook to a public respository on GitHub.
* Note : Please keep the GitHub repo link of the notebook handy.
You will need to submit this link as a part of the assignment evaluation.
* Hint: Refer to Lab: Working with files in Jupyter Notebooks to download the notebook from SN Labs.

### Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png
* Refer to Hands-on Lab: Getting Started with GitHub to upload the downloaded notebook to GitHub.
* Congratulations on completing this project. In a subsequent item in the course you will submit a link to your notebook on GitHub and evaluate your peers.

# End of assignment

<hr>